title {
	font-size: 24px
}

body {
	text-align: center;
	background: #ffffcc;
	color: #FF3397;
	font-size: 18px;
}

.catch_phrase {
	font-size: 20px
}

ul {
	list-style: none;
	padding: 0px;
}

.app {
	text-align: center;
	font-size: 16px;
	background-color: white;
}

.title {
	text-align: right
}
	